@model IEnumerable<BoletoBus.Web.Models.EmpleadosModels.EmpleadoGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleado List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cargo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cargo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdEmpleado }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdEmpleado })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay empleados disponibles.</p>
}
